@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.color-gradient{
  @apply bg-gradient-to-tr from-[#33D35E] to-[#2AB6D9];
}

.base-color{
  @apply bg-gradient-to-tr from-[#FFB400] to-[#FFB400];

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.tooltip-button {
  display: inline-block;
  background-color: #FFB400;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative; /* Necesario para el posicionamiento del tooltip */
}

.tooltip-button .tooltip-text {
  visibility: hidden; /* Ocultar el texto del letrero por defecto */
  width: 120px;
  background-color: #8a8686;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Posicionamiento del tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; /* Centrar el tooltip */
}

.tooltip-button:hover .tooltip-text {
  visibility: visible; /* Mostrar el texto del letrero cuando se pasa el mouse sobre el botón */
}